<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid" style="height:100%;">
      <div class="row" id="header">
        <div class="col-md-3">
          HEADER
        </div>
        <div class="col-md-9">
          CLOCK
        </div>
      </div>
      <div class="row" id="main-content">
        <div class="col-md-3" id="left-col">
          LEFT COL
        </div>
        <div class="col-md-9" id="right-col">
          RIGHT COL
        </div>
      </div>
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
  </body>
</html>
