<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>CodeEnigma | Insert</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/nprogress.css'/>
        <link rel="stylesheet" href="/stylesheets/loader.css">
        <link rel="stylesheet" href="/stylesheets/loaders.css">

    </head>
    <body onload="myFunction()">
    <!-- <body> -->
    <div id="loaderContainer">
      <div class="loader"><div class="ball-grid-pulse"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
    </div>
    <script>
    function myFunction() {
      var myVar = setTimeout(showPage, 1000);
    }

    function showPage()
    {
      // console.log("Hide Loader and show page");
      // $(".loader").hide();
      $("#loaderContainer").hide();
      $(".container-fluid").show();
      // $("#main-content").show();
    }
    </script>

        <div class="container-fluid">
            <!-- HEADER -->
            <div class="row" id="header">
              <div class="col-md-1">
                <input type="text" class="form-control" id="id" placeholder="id">
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" id="title" placeholder="title">
              </div>
              <div class="col-md-3">
                <select id="difficultySelector" name="lang" required="required">
                    <option value="easy" selected="selected" >Easy</option>
                    <option value="medium" >Medium</option>
                    <option value="hard" >Hard</option>
                </select>
              </div>
              <div class="col-md-2">
                INSERT
              </div>
            </div>

            <!-- MAIN-CONTENT -->
            <div class="row" id="main-content">

                <div class="col-md-6" id="left-col">
                      <div class="row" id="left-col-header">
                        <ul>
                        			<li id="tabD" class="tab active" onclick="changeTab('Description')">
                                Description
                        			</li>
                              <li id="tabS" class="tab" onclick="changeTab('Sample')">
                                Sample Testcases
                        			</li>
                              <li id="tabH" class="tab" onclick="changeTab('Hidden')">
                                Hidden Testcases
                        			</li>
                        </ul>
                      </div>
                      <!-- <div class="row" id="left-col-body">
                        <div class ="col-md-12">
                          <span id="span">
                        </span>
                        </div>
                      </div> -->
                      <div class="row" id="left-col-body-description">
                        <div class ="col-md-12">
                          <span id="span"></span>
                        </div>
                      </div>
                      <!-- left-col-body-test-results -->
                      <div class="row" id="left-col-body-sample">
                        <div class ="col-md-12">
                          <table>
                            <tr>
                              <td style="width:28%">Lines to ignore</td>
                              <td style="width:70%; padding-left:20px;"><input type="number" class="form-control" id="ignoreLines" placeholder="ignoreLines" disabled></td>
                            </tr>
                            <tr>
                              <td>Lines to read for testcases</td>
                              <td style="width:70%; padding-left:20px;"><input type="number" class="form-control" id="inputLines" placeholder="inputLines" disabled></td>
                            </tr>
                            <tr>
                              <td>Lines to read for Output</td>
                              <td style="width:70%; padding-left:20px;"><input type="number" class="form-control" id="outputLines" placeholder="outputLines" disabled></td>
                            </tr>
                            <tr>
                              <td>sampleInput</td>
                              <td style="width:70%; padding-left:20px;"><textarea class="form-control" rows="5" id="sampleInput"></textarea></td>
                            </tr>
                            <tr>
                              <td>sampleOutput</td>
                              <td style="width:70%; padding-left:20px;"><textarea class="form-control" rows="5" id="sampleOutput"></textarea></td>
                            </tr>
                          </table>

                        </div>
                      </div> <!-- left-col-body-sample -->

                      <div class="row" id="left-col-body-hidden">
                        <div class ="col-md-12">
                            <table>
                              <tr>
                                <td style="width:28%">Lines to ignore</td>
                                <td style="width:70%; padding-left:20px;"><input type="number" class="form-control"  placeholder="ignoreLines" disabled></td>
                              </tr>
                              <tr>
                                <td>Lines to read for testcases</td>
                                <td style="width:70%; padding-left:20px;"><input type="number" class="form-control" placeholder="inputLines" disabled></td>
                              </tr>
                              <tr>
                                <td>Lines to read for Output</td>
                                <td style="width:70%; padding-left:20px;"><input type="number" class="form-control"  placeholder="outputLines" disabled></td>
                              </tr>
                              <tr>
                                <td>hiddenInput</td>
                                <td style="width:70%; padding-left:20px;"><textarea class="form-control" rows="5" id="hiddenInput"></textarea></td>
                              </tr>
                              <tr>
                                <td>hiddenOutput</td>
                                <td style="width:70%; padding-left:20px;"><textarea class="form-control" rows="5" id="hiddenOutput"></textarea></td>
                              </tr>
                            </table>
                        </div>
                      </div>

                </div>  <!--"#left-col" -->

                <div class="col-md-6" id="right-col">
                      <div class="row" id="right-col-header">
                          <div class="col-md-6">
                            Description Markup
                          </div>
                          <div class="col-md-4">
                            <!-- <select id="difficultySelector" name="lang" required="required">
                                <option value="easy" selected="selected" >Easy</option>
                                <option value="medium" selected="selected" >Medium</option>
                                <option value="hard" selected="selected" >Hard</option>
                            </select> -->
                          </div>
                          <div class="col-md-1">Reset</div>
                          <div class="col-md-1"></div>
                      </div>
                      <div class="row" id="editor" onkeyup='showData()'>
&lt;h5&gt;Print Odd Numbers&lt;/h5&gt;

Given two integers &lt;em&gt;start&lt;/em&gt; and &lt;em&gt;end&lt;/em&gt;. Print all the odd number within the range &lt;em&gt;[start, end] &lt;/em&gt;i.e. Closed Interval.

&lt;br&gt;&lt;br&gt;

&lt;h6&gt;Input Format:&lt;/h6&gt;
&lt;ul&gt;
    &lt;li&gt;First line contains an integer &lt;em&gt;start&lt;/em&gt;.&lt;/li&gt;
    &lt;li&gt;Second line contains an integer &lt;em&gt;end&lt;/em&gt;.&lt;/li&gt;
&lt;/ul&gt;

&lt;h6&gt;Output Format:&lt;/h6&gt;

All the odd numbers within the range &lt;em&gt;[start, end] &lt;/em&gt; in separate lines (In increasing order).

&lt;br&gt;&lt;br&gt;


&lt;h6&gt;Sample Input:&lt;/h6&gt;
&lt;pre class="code"&gt; 11
 18
&lt;/pre&gt;

&lt;h6&gt;Sample Output:&lt;/h6&gt;
&lt;pre class="code"&gt; 11
 13
 15
 17
&lt;/pre&gt;


&lt;div style="background-color:#202020; color:#FFF; padding:15px; border: 5px solid #FFBE4A; margin-top:0px"&gt;
&lt;h5&gt;Note:&lt;/h5&gt;

If you are not able to understand how input and output works, ask your senior right now. Otherwise you may face problem in the actual competition.
&lt;/div&gt;

                      </div>
                      <div class="row" id="right-col-sub-header">
                        <div class="col-md-12">shortDescription</div>
                        <!-- <div class="col-md-6">Output</div> -->
                      </div>
                      <div class="row" id="editor2"></div>

                </div>
            </div>

            <!-- FOOTER -->
            <div class="row" id="header">
                <div class="col-md-10"></div>
                <div class="col-md-1">
                  <button id="backButton" type = "button" class = "btn btn-success">BACK</button>
                </div>
                <div class="col-md-1">
                  <button id="insertButton" type = "button" class = "btn btn-success">INSERT</button>
                </div>
            </div>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/jquery-3.2.1.min.js"></script>
        <!-- <script src="/javascripts/tester.js"></script> -->
        <!-- <script src='/javascripts/nprogress.js'></script> -->
        <script src='/javascripts/insert.js'></script>
        <link rel="stylesheet" href="/stylesheets/insert.css">
        <script src="/javascripts/ace-builds-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
        <script>



            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/twilight");
            editor.getSession().setUseWrapMode(true);
            editor.session.setMode("ace/mode/html");

            // var code = "ace/mode/"+ langCode ;
            // alert(code);
            // editor.session.setMode(code);
            editor.setShowPrintMargin(false);
            document.getElementById('editor').style.fontSize='15px';

            var editor2 = ace.edit("editor2");
            editor2.setTheme("ace/theme/twilight");
            editor2.session.setMode("ace/mode/plain_text");
            // editor2.renderer.setShowGutter(false);
            document.getElementById('editor2').style.fontSize='13px';

            // var editor3 = ace.edit("editor3");
            // editor3.setTheme("ace/theme/twilight");
            // editor3.session.setMode("ace/mode/plain_text");
            // // editor3.renderer.setShowGutter(false);
            // // editor3.setReadOnly(true);
            // document.getElementById('editor3').style.fontSize='13px';

        </script>
    </body>
</html>
