<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CodeEnigma | Instructions </title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/stylesheets/loader.css">
    <link rel="stylesheet" href="/stylesheets/loaders.css">

  </head>
  <body onload="myFunction()">
  <!-- <body> -->
  <div id="loaderContainer">
    <div class="loader"><div class="ball-grid-pulse"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
  </div>
  <script>
  function myFunction() {
    var myVar = setTimeout(showPage, 1000);
  }

  function showPage()
  {
    // console.log("Hide Loader and show page");
    // $(".loader").hide();
    $("#loaderContainer").hide();
    $(".container-fluid").show();
    // $("#main-content").show();
  }
  </script>


    <div class="container-fluid" style="height:100%;">
      <div class="row" id="main-content">
        <div class="col-md-3" id="left-col">
          <!-- <img src="Logo.jpg" alt="CodeEnigma Logo" id="logo"> -->
          <img src="../Logo.jpg" alt="CodeEnigma Logo" id="logo">
          <br>
          <br>
          <p id="status">Competition starts in</p>
          <p id="timer">Competition Ended</p>
          <p id="rank">Rank</p>
          <!-- <p id="points">(157 Points)</p> -->
          <p id="points">(<%= user.score %> Points)</p>


          <hr class="myHRTop"><br>
          <ul id="nav">
            <!-- On click of these show a modal -> Competition has ended. -->
            <!-- <li><a href="#">EASY (5 Points)</a></li>
            <li><a href="#">MEDIUM (15 Points)</a></li>
            <li><a href="#">HARD (25 Points)</a></li> -->
            <li><a href="/CodeEnigma/easy">EASY (5 Points)</a></li>
            <!-- <li><a href="/CodeEnigma/medium">MEDIUM (15 Points)</a></li> -->
            <!-- <li><a href="/CodeEnigma/hard">HARD (25 Points)</a></li> -->
            <!-- <a href="/CodeEnigma/hard" means totally new link  -->
            <!-- <a href="hard" means change last subroute of current route  -->
            <br><hr class="myHRBottom">
            <li id="instructions"><a href="/CodeEnigma/instructions" class="active">INSTRUCTIONS</a></li>
            <li><a href="/CodeEnigma/results">RESULTS</a></li>
            <% if(user.type=='admin'){ %>
            <li><a href="/config">CONFIGURATION</a></li>
            <li><a href="/insert">INSERTION</a></li>
            <% } %>
          </ul>
        </div>
        <div class="col-md-9" id="right-col">

          <div class="row" id="right-col-header">
            <div class="col-md-3">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            TeamId : <%= user.id %></div>
            <div class="col-md-7" style="text-align:center">
            </div>
            <div class="col-md-2" style="text-align:right">
              <a href="/logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout</a>
            </div>
          </div>

          <hr>
          <div class="row" id="right-col-body" style="margin-left:20px;">
                <!-- TODO : Add instructions. -->
              <div class="col-md-12">
                <h1>General Instructions:</h1>
                <ul>
                  <li>Points Weightage per question: Easy(5 Points), Medium(15 Points) and Hard(20 Points).</li>
                  <li>Questions can be answered in any order.</li>
                  <li>In case of any doubts contact the volunteers.</li>
                  <li>The organizers reserve the right to disqualify the team, if caught cheating (Googling answers, Copying Code, Using Phones, etc.)</li>
                </ul>
                <br>
                <h1>Tutorial For Input, Output:</h1>
                <p>For all the questions, the input will be given to you from standard input (stdin for C users) and the result is expected on standard output (stdout for C users). This is the same as writing a program that accepts input from the keyboard and displays the results on the screen. I'm sure most of you have been programming that way already. However, a major difference is that you don't need to prompt the user for input, so stuff like:</p>
                <p>"Please enter your name: "</p>
                <p>are a big NO NO! You need to assume that the user entering the data at the other end knows what to enter and when to enter it. Similarly, while displaying the results, you need to display it in the exact format as is specified in the problem statement.</p>
                <p>For figuring out the format in which data will be entered (given to you) and how you should display the results, you need to refer to the <B>"Input Format"</B> and <B>"Output Format"</B> section of the problem statement respectively. Please make sure that you are following the output specification to the decimal point. If you have one character out of place, your submission will be marked as incorrect</p>
                <p>After reading the problem statement, you will be given a <B>"Sample Input"</B> and the resulting expected <B>"Sample Output"</B> your program should submit. Typically, you will be asked to run your program against multiple test cases. The number of test cases and the format of each test case will be clearly mentioned in the problem statement's <B>"Input Format"</B> section. More often than not, you will be required to display the result for each test case, so you will have as many results displayed as there are test cases. <a href="https://www.codechef.com/wiki/tutorial-inputoutput">(Read More)</a></p>

            </div>

          </div><!-- right-col-body -->

        </div>
      </div>
  </div>


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/instructions.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
    <script src='/javascripts/timer.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <!-- Remove These are rank is not needed in instructions -->
    <script src='/javascripts/live.js'></script>
    <script src='/javascripts/results.js'></script>
    <!-- <script src='/javascripts/insert.js'></script> -->
  </body>
</html>
