#main-content {
  height: 100vh;
}

#left-col {
  color: #636770;
  background-color: #202228;
}

#right-col {
  overflow: auto;
  overflow-x: hidden;
  color: #636770;
  background-color: #31343D;
}

#logo {
  max-width: 100%;
  max-height: 100%;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /*background-color: #f1f1f1;*/
}
#nav #instructions {
  margin-top: 15vh;
  /*bottom: 15px;*/
}
#nav li {
  margin-top:5px;
}
#nav li a {
    font-size: 20px;
    text-align: center;
    display: block;
    color: #FFF;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
#nav li a:hover {
    /*background-color: #555;*/
    background-image: url("../Active.png");
    color: white;
}

#nav li a.active {
  background-image: url("../Active.png");
    /*background-color: #F5BE5A;*/
    color: #ffbe4a;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


#timer {
  text-align: center;
  font-size: 30px;
  color: #ffbe4a;
}

#rank {
  text-align: center;
  font-size: 25px;
  color: #ffbe4a;
}
#points {
  margin-top: -15px;
  text-align: center;
  font-size: 15px;
  color: #ffbe4a;
}

#ques {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /*background-color: #f1f1f1;*/
}
#ques #instructions {
  margin-top: 15vh;
  /*bottom: 15px;*/
}
#ques li {
  margin-top:15px;
  margin-left: 25px;
  margin-right: 25px;
}
#ques li a {
    font-size: 20px;
    /*text-align: center;*/
    display: block;
    color: #FFF;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #202228;
}

/* Change the link color on hover */
#ques li a:hover {
    /*background-color: #555;*/
    /*background-image: url("../Active.png");*/
    /*color: white;*/
    color: #ffbe4a;
}

#ques li a.active {
  /*background-image: url("../Active.png");*/
}
