@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
/*
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/glyphicons-halflings-regular.woff') format('woff');
    src: url('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
    src: url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}*/
#main-content {
  height: 100vh;
}

#left-col {
  color: #636770;
  background-color: #202228;
  /*background-color: #31343D;*/
}

#right-col-header {
  overflow: hidden;
  /*overflow-x: hidden;*/
  /*color: #636770;*/
  color: #000;
  font-size: 20px;
  height: 7vh;
  line-height:7vh;
  /*background-color: #202228;*/
  background-color: #D9D9D9;
  /*background-color: #ffbe4a;*/
  /*background-color: #31343D;*/

}

#right-col-header label {
  margin:5px;
}

#right-col-header input {
  margin:5px;
}

#right-col-header p {
  float:left;
}

#right-col-header a {
  color: #000;
  text-decoration: none;
}
#right-col-header a:hover {
    /*background-color: #ffbe4a;*/
  text-decoration: none;
}

#languageSelector {
  background-color: #D9D9D9;
  color: #000;
  /* border: 1px solid white; */
  /* height: 5vh; */
  /* font-size: 13px; */
  width:200px;
  /* float:left; */
  padding: 4px;
  /*outline: none;*/
  /*outline-color: #ffbe4a; */
}
#languageSelector option:hover {
  /* color:red; */
  /* background-color: #ffbe4a; */
}


#right-col {
  overflow: auto;
  overflow-x: hidden;
  color: #636770;
  background-color: #D9D9D9;
  /*background-color: #31343D;*/
}


#logo {
  max-width: 100%;
  max-height: 100%;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /*background-color: #f1f1f1;*/
}

#nav #instructions {
  margin-top: 4vh;
  /*bottom: 15px;*/
}

.editButton {
  float:right;
  font-size:14px;
  margin-right:35px;
}
.editButton:not(:first-child) {
  margin-top: 15px;
}
.editButton:hover {
  color: #ffbe4a;
}


#nav li {
  margin-top:5px;
}
#nav li a {
    font-size: 18px;
    text-align: center;
    display: block;
    color: #FFF;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
#nav li a:hover {
    /*background-color: #555;*/
    background-image: url("../Active.png");
    color: white;
}

#nav li a.active {
  background-image: url("../Active.png");
    /*background-color: #F5BE5A;*/
    color: #ffbe4a;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


#status {
  text-align: center;
  font-size: 23px;
  color: #ffbe4a;
}

#timer {
  margin-top: -10px;
  text-align: center;
  font-size: 27px;
  color: #ffbe4a;
}

#rank {
  margin-top: -10px;
  text-align: center;
  font-size: 25px;
  color: #ffbe4a;
}
#points {
  margin-top: -15px;
  text-align: center;
  font-size: 15px;
  color: #ffbe4a;
}

.myHRTop {
  margin-top: 20px;
  background-color: #ffbe4a;
}

.myHRBottom {
  background-color: #ffbe4a;
}

#ques {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /*background-color: #f1f1f1;*/
}
#ques #instructions {
  margin-top: 15vh;
  /*bottom: 15px;*/
}

.badge {
  /*color: #ffbe4a;*/
  font-size: 18px;
}

#ques li {
  margin-top:15px;
  margin-left: 25px;
  margin-right: 25px;
}
#ques li:hover a,#ques li:hover .badge {
  color: #ffbe4a;
}
#ques li a {
    font-size: 20px;
    /*text-align: center;*/
    display: block;
    color: #FFF;
    padding: 8px 16px;
    background-color: #202228;
    text-decoration: none;
}

#ques li a p {
  font-size: 15px;
}

#ques li .solved {
    font-size: 20px;
    /*text-align: center;*/
    display: block;
    /*color: #FFF;*/
    padding: 8px 16px;
    color: #636770;
    text-decoration: none;
}


#ques li .solved:hover {
    color: #FFF;
}


#ques li a.active {
  /*background-image: url("../Active.png");*/
}

#ques li:last-of-type {
  margin-bottom: 15px;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #202228;
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: #202228;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ffbe4a;
}
