/*@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");*/

#header {
  height: 7vh;
  line-height:7vh;
  overflow: hidden;
  text-align: center;
  /*padding-bottom: 3vh;*/
  /*padding-top: 3vh;*/
  background-color: #202228;
  color:#FFFFFF;
  /*color:#000;*/
}

#header img {
  height: 7vh;
  cursor: pointer;
}

/*#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 6vh;
}

#header li {
  /*background-color: #454545;* /
  height: 6vh;
  float:left;
  color: #FFF;
  /*margin: 2px;* /
  margin-top: -5px;
  margin-left: 2px;
  margin-right: 2px;
  background-image: url("../Ques.png");
  background-repeat: no-repeat;
}

#header li a {
  height: 6vh;
  /*background-color: #454545;* /
    /*display: block;* /
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    /*margin: 10px;* /
    margin-left: 10px;
    margin-right: 10px;
    /*padding: 14px 16px;* /
    text-decoration: none;
}

#header li a:hover:not(.active) {
    background-color: #111;
    background-image: url("../Ques-Hover.png");
    background-repeat: no-repeat;
}

#header .active {
    background-color: #4CAF50;
}*/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  background-color: #202228;
  border-color: #ffbe4a;
  color: #ffbe4a;
  cursor: pointer;
}

.btn-circle:hover {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  background-color: #292c33;
  border-color: #ffbe4a;
  color: #ffbe4a;
  cursor: pointer;
}

#header .active {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  background-color: #ffbe4a;
  border-color: #ffbe4a;
  color: #202228;
  cursor: pointer;
}

#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*height: 6vh;*/
}
#header li {
  float: left;
  margin-left: 5px;
}

#timer {
  text-align: center;
  color: #ffbe4a;
}
#rank,#points {
  text-align: center;
  padding-left: 0px;
  color: #ffbe4a;
}

#main-content {
  height: 86vh;
}

#left-col-header, #right-col-header {
  color: #FFF;
  background-color: #31343D;
  height: 6%;
  line-height:5vh;
}

#left-col-header ul {
  height: 100%;
  width: 100%;
  margin-left: -16px;
}
#left-col-header ul li {
  height: 100%;
  color : #AAA;
  display: inline;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  /*margin-left: 10px;*/
  /*margin-right: 10px;*/
}


#left-col-header ul li:hover {
  display: inline;
  color: #FFF;
  padding-bottom: 0.9vh;
  /*border-bottom: 2.8px solid #FFF;*/
  transition: color .2s ease-out;
}

#left-col-header ul li.active {
  display: inline;
  color: #ffbe4a;
  padding-bottom: 0.9vh;
  border-bottom: 2.8px solid #ffbe4a;
  /*transition: color .2s ease-in;*/
  /*transition: border .2s ease-in;*/
}

/*
#left-col-body {
  color: #000;
  background-color: #D9D9D9;
  height: 94%;
  overflow: auto;
  overflow-x: hidden;
  padding: 10px;
}*/


#left-col-body-description {
  color: #000;
  background-color: #D9D9D9;
  height: 94%;
  overflow: auto;
  overflow-x: hidden;
  padding: 10px;
  /*display: none;*/
}

#left-col-body-test-results {
  color: #000;
  background-color: #D9D9D9;
  height: 94%;
  overflow: auto;
  overflow-x: hidden;
  padding: 10px;
  display: none;
}

.pHead {
  background-color: #202020;
  color: #FFF;
  /*color : #ffbe4a;*/
  padding:10px;
  margin-top: 12px;
  cursor: pointer;
}

.badge {
  color : #ffbe4a;
}

#arrow {
  float: right;
}

.pBody {
  background-color: #353535;
  color: #FFF;
  padding:10px;
  margin-bottom: 15px;
  /*display: none;*/
}

.pBody table {
  width: 100%;
  /*text-align: center;*/
  table-layout: fixed;
}

.pBody table td {
  width: 33%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  /*overflow: scroll;*/
  /*border: 2px solid black;*/
  /*text-align: center;*/
}

.pBody .code {
  margin: 0px;
  border-left: 0px;
  /*margin-left: 5px;*/
  /*margin-right: 5px;*/
}

.code {
  /*margin-left: 15px;*/
  /*margin-right: 15px;*/
  padding: 8px;
  color: #D9D9D9;
  background-color: #202020;
  border-left: 10px solid #353535;
}

#languageSelector {
  background-color: #31343D;
  color: white;
  border: 1px solid white;
  height: 5vh;
  font-size: 13px;
  width:75%;
  float:right;
  padding-top: 5px;
  /*outline: none;*/
  /*outline-color: #ffbe4a; */
}
#languageSelector option:hover {
  color:red;
  background-color: #ffbe4a;
}

#editor {
  position: relative;
  /*height: 400px;*/
  height: 94%;
}

#right-col-sub-header {
  color: #FFF;
  background-color: #31343D;
  height: 6%;
  line-height:5vh;
  display: none;
}
/*
#right-col-io {
  display: none;
  height: 22%;
}*/

#editor2 {
  display: none;
  position: relative;
  /*height: 22%;*/
  height: 17%;
}

#footer {
  height: 7vh;
  line-height:7vh;
  overflow: hidden;
  text-align: center;
  /*padding-bottom: 3vh;*/
  /*padding-top: 3vh;*/
  background-color: #202228;
  /*color:#FFFFFF;*/
  color:#000;
}

.modal-header button {
  color: #FFF;
}

.modal-header button:hover {
  color: #ffbe4a;
  cursor: pointer;
}

.modal-content {
  background-color: #202228;
  /*color: #fff;*/
  color: #ffbe4a;
}

.modal-body {
  /*background-color: #31343D;*/
  /*background-color: #D9D9D9;*/
  background-color: #292B33;
  color: #ffbe4a;
  /*color: #FFF;*/
}

.modal-body p {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

.modal-body .code {
  /*margin-left: 15px;*/
  /*margin-right: 15px;*/
  text-align: left;
  padding: 8px;
  color: #D9D9D9;
  background-color: #202020;
  border-left: 10px solid #353535;
  max-height: 300px;
  font-size: 15px;
  line-height: 17px;
}

.modal-footer button {
  background-color: #202228;
  border-color: #ffbe4a;
  color: #ffbe4a;
  cursor: pointer;
  /*background-color: #ffbe4a;*/
}

.modal-footer button:hover {
  background-color: #ffbe4a;
  border-color: #ffbe4a;
  color: #202228;
  cursor: pointer;
}

/*
.radioLabel {
  color: #AAAAAA;
}
.radioLabel:hover {
  color : #ffbe4a;
}
.radio {
  margin: 5px;
  cursor: pointer;
}

.radio:hover {
  color: #FFFFFF;
}

.radio:checked {
  color: #ffbe4a;
}*/

/*.radio {
  color : #AAAAAA;
}

.radio:hover {
  color : #FFFFFF;
}

.radioButton:checked ~ .radioLabel {
  color: #ffbe4a;
}*/

.radioLabel, #customInputs {
  color: #AAAAAA;
  cursor: pointer;
}

#runButton, #submitButton {
  background-color: #202228;
  border-color: #ffbe4a;
  color: #ffbe4a;
  cursor: pointer;
}

#submitButton:hover {
  background-color: #ffbe4a;
  border-color: #ffbe4a;
  color: #202228;
  cursor: pointer;
}

#runButton:hover {
  background-color: #ffbe4a;
  border-color: #ffbe4a;
  color: #202228;
  cursor: pointer;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: ##141414;
}

::-webkit-scrollbar
{
  height: 5px;
	width: 5px;
	background-color: ##141414;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ffbe4a;
}
