#header {
  height: 7vh;
  line-height:7vh;
  overflow: hidden;
  text-align: center;
  /*padding-bottom: 3vh;*/
  /*padding-top: 3vh;*/
  background-color: #202228;
  color:#FFFFFF;
}

#title, #id {
  margin-top: 1vh;
  border: 1px solid #FFFFFF;
  background-color: #202228;
  color:#FFFFFF;
}

#difficultySelector {
  background-color: #202228;
  color: white;
  border: 1px solid white;
  height: 5vh;
  font-size: 13px;
  width:75%;
  float:right;
  padding-top: 5px;
  margin-top: 1vh;
  /*outline: none;*/
  /*outline-color: #ffbe4a; */
}

#main-content {
  height: 86vh;
}

#left-col-header, #right-col-header, #right-col-sub-header {
  color: #FFF;
  background-color: #31343D;
  height: 6%;
  line-height:5vh;
}

#left-col-body {
  color: #000;
  background-color: #D9D9D9;
  height: 94%;
  overflow: auto;
  overflow-x: hidden;
  padding: 10px;
}

.code {
  margin-left: 15px;
  margin-right: 15px;
  padding: 8px;
  color: #D9D9D9;
  background-color: #202020;
  border-left: 10px solid #353535;
}

#editor {
  position: relative;
  /*height: 400px;*/
  height: 66%;
}

#right-col-io {
  height: 22%;
}

#editor2 {
  position: relative;
  height: 100%;
}

#editor3 {
  position: relative;
  height: 100%;
}

#insertButton {
  background-color: #202228;
  border-color: #ffbe4a;
  color: #ffbe4a;
  cursor: pointer;
}

#insertButton:hover {
  background-color: #ffbe4a;
  border-color: #ffbe4a;
  color: #202228;
  cursor: pointer;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: ##141414;
}

::-webkit-scrollbar
{
  height: 5px;
	width: 5px;
	background-color: ##141414;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ffbe4a;
}
